.page-content {
    padding: 20px;
  }
  
  .block-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .list ul {
    margin: 0;
    padding: 0;
  }
  
  .list li {
    padding: 10px 0;
    border-bottom: 1px solid #c70808;
  }
  
  .item-title {
    font-weight: bold;
  }
  