<!DOCTYPE html>



<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Música App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/6.0.7/css/framework7.bundle.min.css">
  <link rel="stylesheet" href="css/estilos.css    ">
</head>
<body>
  <div id="app">
    <div class="view view-main">
      <div class="page">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="title">Música App</div>
          </div>
        </div>
        <div class="page-content">
          <div class="block-title">Artistas:</div>
          <div class="list media-list">
            <ul>
              <li v-for="artist in artists" :key="artist.id">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">{{ artist.name }}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="block-title">Canciones:</div>
          <div class="list media-list">
            <ul>
              <li v-for="track in tracks" :key="track.id">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">{{ track.title }}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/framework7/6.0.7/js/framework7.bundle.min.js"></script>
  <script src="js/api.js"></script>
</body>
</html>
